body{
	background-color: lightblue;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	
}
div{
	
}
h1{
	font-size: 60px;
	color: darkblue;
}
h2{
	font-size: 40px;
	color: darkblue;
}
h3{
	font-size: 30px;
	color: darkblue;
}
p{
	font-size: 22px;
	
}
a{
	padding:20px;
}
.row{
	display:flex;
	
	
}
.column{
	flex:50%;
	padding:20px;
	
}
	
